<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOGS_ABSOLUTE_PATH" value="./logs"/>
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr(%d{yyyyMMdd HH:mm:ss.SSS}){magenta} %clr([%thread]){blue} %clr(%-5level){} %clr([%logger{0}:%line]){cyan} : %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 로깅을 파일로 저장 -->
        <file>./logs/coupon.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>utf8</charset>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %thread [%X{traceId}] %-5level %logger - %m%n</Pattern>
        </encoder>
        <!--로깅 파일이 특정 조건을 넘어가면 다른 파일로 만들어 준다.-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/coupon.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>180</maxHistory>
        </rollingPolicy>
    </appender>

    <!--    logging level 지정 TRACE, DEBUG, INFO, WARN, ERROR, FATAL/OFF-->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <!--  쿼리문 로그에 출력되어 있는 파라미터에 바인딩 되는 값을 알 수 있음  -->
    <logger name="org.hibernate.type.descriptor.sql" additivity="false">
        <level value = "TRACE" />
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.springframework.web" additivity="false">
        <level value = "DEBUG" />
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="LOG" />
    </logger>

    <logger name="store.ckin.coupon" additivity="false">
        <level value = "DEBUG" />
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="LOG" />
    </logger>

    <logger name="org.hibernate.SQL" additivity="false">
        <level value = "DEBUG" />
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="LOG" />
    </logger>

</configuration>